apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-monolith
  namespace: github-lab
  labels:
    app: php-monolith
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php-monolith
  template:
    metadata:
      labels:
        app: php-monolith
    spec:
      containers:
      - name: php-monolith
        image: 767397705569.dkr.ecr.us-east-1.amazonaws.com/php-monolith:latest
        ports:
        - containerPort: 80
        readinessProbe:
          httpGet:
            path: /api/health
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /api/health
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3

---
apiVersion: v1
kind: Service
metadata:
  name: php-monolith
  namespace: github-lab
spec:
  selector:
    app: php-monolith
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: php-monolith
  namespace: github-lab
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  ingressClassName: nginx
  rules:
  - host: php.kapil-lab.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: php-monolith
            port:
              number: 80
